.header {
	padding: toRem(20) 0;
	&__container {
	}

	&__menu {
	}
}
.menu {
	color: #fff;
	max-width: toRem(750);
	margin: 0 auto;
	&__body {
	}

	&__list {
		display: flex;
		justify-content: space-between;
		gap: toRem(15);
		@media (max-width: $mobileSmall) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__item {
	}

	&__link {
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
